fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.9
pydantic-settings==2.7.1

SQLAlchemy==2.0.36
psycopg2-binary==2.9.10

redis==5.2.1
slowapi==0.1.9

langchain==0.3.14
langchain-community==0.3.14
langchain-openai==0.2.14
langchain-ollama==0.2.1
chromadb==0.5.20

PyJWT==2.10.1
